.container{
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(2 , 1fr);


}
.item{
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;

}
